In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [4]:
df.shape

(11162, 17)

In [5]:
df.apply(lambda x: len(x.unique()))

age            76
job            12
marital         3
education       4
default         2
balance      3805
housing         2
loan            2
contact         3
day            31
month          12
duration     1428
campaign       36
pdays         472
previous       34
poutcome        4
deposit         2
dtype: int64

In [6]:
listItem = []
for col in df.columns :
  listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum() / len(df[col])) * 100,2),
                   df[col].nunique(), list(df[col].unique()[:2])]);

dfDesc = pd.DataFrame(columns = ['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'], data = listItem)
dfDesc

   dataFeatures dataType  null  nullPct  unique           uniqueSample
0           age    int64     0      0.0      76               [59, 56]
1           job   object     0      0.0      12   [admin., technician]
2       marital   object     0      0.0       3      [married, single]
3     education   object     0      0.0       4  [secondary, tertiary]
4       default   object     0      0.0       2              [no, yes]
5       balance    int64     0      0.0    3805             [2343, 45]
6       housing   object     0      0.0       2              [yes, no]
7          loan   object     0      0.0       2              [no, yes]
8       contact   object     0      0.0       3    [unknown, cellular]
9           day    int64     0      0.0      31                 [5, 6]
10        month   object     0      0.0      12             [may, jun]
11     duration    int64     0      0.0    1428           [1042, 1467]
12     campaign    int64     0      0.0      36                 [1, 2]
13        pdays    int64     0      0.0     472              [-1, 166]
14     previous    int64     0      0.0      34                 [0, 1]
15     poutcome   object     0      0.0       4       [unknown, other]
16      deposit   object     0      0.0       2              [yes, no]

In [7]:
df.isnull().sum().sort_values(ascending=False)

deposit      0
loan         0
job          0
marital      0
education    0
default      0
balance      0
housing      0
contact      0
poutcome     0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
age          0
dtype: int64

In [31]:
df['contact'].value_counts()

cellular     8042
unknown      2346
telephone     774
Name: contact, dtype: int64

In [9]:
# so for "unknown" in Job, Contact and Education, i will replace it into "Other"
df[['job', 'contact', 'education']] = df[['job', 'contact', 'education']].replace(['unknown'],'other')

In [13]:
df['job'].value_counts()

management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
other              70
Name: job, dtype: int64

In [11]:
listItem = []
for col in df.columns :
  listItem.append([col, df[col].dtype, df[col].isna().sum(), round((df[col].isna().sum() / len(df[col])) * 100,2),
                   df[col].nunique(), list(df[col].unique()[:2])]);

dfDesc = pd.DataFrame(columns = ['dataFeatures', 'dataType', 'null', 'nullPct', 'unique', 'uniqueSample'], data = listItem)
dfDesc

   dataFeatures dataType  null  nullPct  unique           uniqueSample
0           age    int64     0      0.0      76               [59, 56]
1           job   object     0      0.0      12   [admin., technician]
2       marital   object     0      0.0       3      [married, single]
3     education   object     0      0.0       4  [secondary, tertiary]
4       default   object     0      0.0       2              [no, yes]
5       balance    int64     0      0.0    3805             [2343, 45]
6       housing   object     0      0.0       2              [yes, no]
7          loan   object     0      0.0       2              [no, yes]
8       contact   object     0      0.0       3      [other, cellular]
9           day    int64     0      0.0      31                 [5, 6]
10        month   object     0      0.0      12             [may, jun]
11     duration    int64     0      0.0    1428           [1042, 1467]
12     campaign    int64     0      0.0      36                 [1, 2]
13        pdays    int64     0      0.0     472              [-1, 166]
14     previous    int64     0      0.0      34                 [0, 1]
15     poutcome   object     0      0.0       4       [unknown, other]
16      deposit   object     0      0.0       2              [yes, no]

In [12]:
df.to_csv('bank_cleaned.csv',index=False)